<p id="notice"><%= notice %></p>
 
<h1>Kunden Datei</h1>

<table class="table table-striped">
  <thead>
    <div class="row">
    <tr>
    <% if current_user %>
      <th><div class="col-md-4">Anrede</div></th>
      <th><div class="col-md-4">Vorname</div></th>
      <th><div class="col-md-4">Nachname</div></th>
      <th><div class="col-md-4">Strasse</div></th>
      <th><div class="col-md-4">Stadt</div></th>
      <th><div class="col-md-4">Plz</div></th>
      <th><div class="col-md-4">Tel</div></th>
      <th><div class="col-md-4">Email</div></th>
      <th><div class="col-md-4">Datenschutzerklärung</th></div>
      <th><div class="col-md-4">Anzeigen</th></div>
      <th><div class="col-md-4">Autos</th></div>
    <% if current_user.admin? %>
      <th><div class="col-md-4">Ändern</th></div>
      <th><div class="col-md-4">Löschen</th></div>
    <% end %>
    <% end %>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
      <% if current_user %>
        <td><%= customer.dear %></td>
        <td align="left"><%= customer.firstname %></td>
        <td align="left"><%= customer.lastname %></td>
        <td align="left"><%= customer.street %></td>
        <td align="left"><%= customer.city %></td>
        <td align="left"><%= customer.plz %></td>
        <td align="left"><%= customer.tel %></td>
        <td align="left"><%= customer.email %></td>
        <td align="left"><%= db(customer.privacypolicy) %></td>     <!--helper true/Liegt vor/ flase/Liegt nicht vor-->
        <td align="left"><%= link_to 'Kunde anzeigen', customer, :class => "label label-success" %></td>
        <td align="left"><%= link_to 'Autos', customer_cars_path(customer.id), :class => "label label-info" %></td>
      <% if current_user.admin? %>
        <td align="left"><%= link_to 'Ändern', edit_customer_path(customer), :class => "label label-warning" %></td>
        <td align="left"><%= link_to 'Löschen', customer, :class => "label label-danger", method: :delete, data: { confirm: 'Bist du sicher das du den Kunden löschen möchtest?' } %></td>
      <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuen Kunden anlegen', new_customer_path, :class =>"label label-success" if current_user %>

